body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 20px;
}

h1, h2 {
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
